services:
  actual-currency-conversions:
    # build: .  # If running locally
    image: ghcr.io/zanardob/actual-currency-conversions:v1.0.0
    container_name: "actual-currency-conversions"
    restart: "always"
    environment:
      - ACTUAL_SERVER_URL=http://actual-budget:5006
      - ACTUAL_PASSWORD=${ACTUAL_PASSWORD}
      - TWELVE_DATA_API_KEY=${TWELVE_DATA_API_KEY}
    volumes:
      - "./actualcurrencyconversions:/app/actual-cache"
    networks:
      - "proxy"
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'tsx src/convert.ts' || exit 1"]
      interval: "60s"
      timeout: "10s"
      retries: "3"
      start_period: "20s"

networks:
  proxy:
    external: true
